exportPattern("^[[:alpha:]]+")
import(grid)
import(knitr)
import(Seurat)
import(ComplexHeatmap, except = c(pheatmap))
import(pheatmap)
import(circlize)
import(ggplot2)
import(ggrepel)
import(lme4)
import(pbapply)
import(reshape2)
import(tidyverse)
import(ggforce)
import(cowplot)
import(MAST)
import(factoextra)
import(Rtsne)
import(methods)
import(dplyr)
importFrom("dplyr", "filter")
importFrom("grDevices", "dev.off", "pdf", "png", "colorRampPalette")
importFrom("stats", "as.formula", "median", "prcomp", "sd", "var", "coef", "p.adjust", "relevel")
importFrom("stats", "binom.test", "pnorm")
importFrom("utils", "write.csv", "write.table")
importFrom("graphics", "text")
importFrom("grDevices", "rainbow")

