exportPattern("^[[:alpha:]]+")
import(grid)
import(knitr)
import(methods)
import(ComplexHeatmap)
import(Rtsne)
import(SAGx)
import(Seurat)
import(circlize)
import(factoextra)
import(ggplot2)
import(ggrepel)
import(gridExtra)
import(lme4)
import(pbapply)
import(pheatmap)
import(reshape2)
import(tidyverse)
import(ggforce)
import(cowplot)
importFrom("grDevices", "dev.off", "pdf", "png")
importFrom("stats", "as.formula", "filter", "median", "prcomp", "sd", "var")
importFrom("utils", "install.packages", "write.csv", "write.table")


