.tab-selected-style {
    border-top: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
    background-color: rgb(120, 156, 74) !important;
    color: white;
    padding: 6px;
}

.default-tab-style { 
    border-bottom: 1px solid #d6d6d6;
    padding: 6px;
    font-weight: bold;
    color: white;
}
.header-button-text {
    text-align: center;
    color: rgb(0, 48, 87);
    padding-top: 20px;
    display: grid;
    justify-content: center;
}

.test-p { 
    color: yellowgreen
}